/* 
.color1 {color: #120907;}
.color2 {color: #2c2641;}
.color3 {color: #676090;}
.color4 {color: #ad9fec;}
.color5 {color: #f3dced;} */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  background-color: #f3dced;
}

h2{
  margin-bottom: 2rem;
}

.title{
  color: #120907;
  margin: 4rem auto 4rem auto;
  font-size: 2.4rem;
}

#seleccionar-mascota{
  display: flex;
  flex-direction:;
  justify-content: center;
  align-items: center;
}

.tarjeta-mokepon{
  background-color: #ad9fec;
  padding: 1rem;
  border: 1px solid #120907;
  border-radius: 0.5rem;
  margin: 1rem;
  font-weight:bold;
}

button{
  background-color: #120907;
  color: #f3dced;
  margin: 1rem;
  height: 3rem;
  width: 10rem;
  border-radius: 2rem;
}
